In [1]:
import datashader as ds, datashader.transfer_functions as tf, numpy as np
from datashader import spatial
from datashader.utils import lnglat_to_meters as webm
import pandas as pd

from functools import partial
from datashader.utils import export_image
from datashader.colors import colormap_select, Greys9
from IPython.core.display import HTML, display

display(HTML("<style>.container { width:95% !important; }</style>"))

In [2]:
df = pd.read_csv('output.csv')
df.columns = ['lon','lat','count','norm_count']
print("Size: {:,}".format(len(df)))
df.head()

Size: 749,468

          lon        lat  count  norm_count
0 -127.216187  50.663390      1           2
1 -127.216187  50.656426      1           2
2 -127.227173  50.649460      1           2
3 -127.249146  50.642494     10          17
4 -127.227173  50.642494      1           2

In [3]:
df['easting'] = df.apply(lambda row: webm(row.lon, row.lat)[0], axis=1)
df['northing'] = df.apply(lambda row: webm(row.lon, row.lat)[1], axis=1)

In [4]:
df.head()

          lon        lat  count  norm_count       easting      northing
0 -127.216187  50.663390      1           2 -1.416164e+07  6.561966e+06
1 -127.216187  50.656426      1           2 -1.416164e+07  6.560743e+06
2 -127.227173  50.649460      1           2 -1.416286e+07  6.559520e+06
3 -127.249146  50.642494     10          17 -1.416531e+07  6.558297e+06
4 -127.227173  50.642494      1           2 -1.416286e+07  6.558297e+06

In [5]:
plot_width  = int(1200)
plot_height = int(800)
background = "black"

In [6]:
# NewYorkCity   = (( -74.39,  -73.44), (40.51, 40.91))
USA           = ((-124.72,  -66.95), (23.55, 50.06))

In [7]:
cvs = ds.Canvas(plot_width, plot_height, *webm(*USA))
agg = cvs.points(df, 'easting', 'northing', ds.max('count'))

In [8]:
from matplotlib.cm import hot
export(tf.shade(agg, cmap = hot, how='log'),"USA")

NameError: name 'export' is not defined